<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveSpending(spendingForm)" #spendingForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="number"
        name="value"
        [ngModel]="spending?.value"
        required
        placeholder="Spending Value"
        #value="ngModel">
        <span matPrefix>R$&nbsp;</span>
      <mat-error *ngIf="value.invalid">Please enter a spending value.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="description"
        [ngModel]="spending?.description"
        required
        placeholder="Spending Description"
        #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter a brief description of the spending.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color = "primary"
      type="submit">Add Spending</button>
  </form>
</mat-card>
