mat-form-field,
textarea {
  width:100%;
}

mat-spinner {
  margin: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saveButton {
  margin-top: 1rem
}

.spacer {
  flex: 1 1 auto;
}

.email {
  color: gray;
}

