<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveSpending(spendingForm)" #spendingForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="number"
        name="value"
        [ngModel]="spending?.value"
        required
        number
        placeholder="Spending Value"
        #value="ngModel">
        <span matPrefix>R$&nbsp;</span>
      <mat-error *ngIf="value.invalid">Please enter a spending value.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="description"
        [ngModel]="spending?.description"
        required
        placeholder="Spending Description"
        #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter a brief description of the spending.</mat-error>
    </mat-form-field>
      <mat-selection-list #memberList [compareWith]="byId" [(ngModel)]="selectedMembers" [ngModelOptions]="{standalone: true}" *ngIf="!isLoading">
          <mat-toolbar color="primary">
              <p>Share list</p>
              <span class="spacer"></span>
              <ul>
                <li>
                    <button mat-button type="button" (click)="memberList.selectAll()">Select all</button>
                </li>
              </ul>
          </mat-toolbar>
        <mat-list-option *ngFor="let member of members" [value]="member">
            {{ member.firstName }} {{ member.lastName }}
            <span class="spacer"></span>
            <p class="email">{{ member.email }}</p>
        </mat-list-option>
      </mat-selection-list>
    <button
      mat-raised-button
      class = "saveButton"
      color = "primary"
      type="submit">{{ mode == 'create' ? "Add Spending" : "Save Spending" }}</button>
  </form>
</mat-card>
